doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Lense: A CSS Framework - Home
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../scss/lense.scss')
    link(rel='stylesheet', href='../scss/theme/soft.scss')
  body
    include includes/main-nav.pug
    header
      h1 Lense: A CSS Framework
    main
      p Lense is a simple CSS framework experiment by Jason Rundell.
    footer
      a(href='https://github.com/jasonrundell/lense') Lense on GitHub
