$grid-column-total: 12;
$max-mobile-width: 960px;

.ls-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
[class*="ls-col-"] {
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.ls-col-1 {
  width: percentage(100/($grid-column-total/1)/100);
  /*flex-basis: floor($max-mobile-width/floor($grid-column-total/1));*/
}
.ls-col-2 {
  width: percentage(100/($grid-column-total/2)/100);
  /*flex-basis: floor($max-mobile-width/floor($grid-column-total/2));*/
}
.ls-col-3 {
  width: percentage(100/($grid-column-total/3)/100);
  /*flex-basis: floor($max-mobile-width/floor($grid-column-total/3));*/
}
.ls-col-4 {
  width: percentage(100/($grid-column-total/4)/100);
  /*flex-basis: floor($max-mobile-width/floor($grid-column-total/4));*/
}
.ls-col-5 {
  width: percentage(100/($grid-column-total/5)/100);
  /*flex-basis: floor($max-mobile-width/floor($grid-column-total/5));*/
}
.ls-col-6 {
  width: percentage(100/($grid-column-total/6)/100);
  /*flex-basis: floor($max-mobile-width/floor($grid-column-total/6));*/
}
.ls-col-7 {
  width: percentage(100/($grid-column-total/7)/100);
  /*flex-basis: floor($max-mobile-width/floor($grid-column-total/7));*/
}
.ls-col-8 {
  width: percentage(100/($grid-column-total/8)/100);
  /*flex-basis: floor($max-mobile-width/floor($grid-column-total/8));*/
}
.ls-col-9 {
  width: percentage(100/($grid-column-total/9)/100);
  /*flex-basis: floor($max-mobile-width/floor($grid-column-total/9));*/
}
.ls-col-10 {
  width: percentage(100/($grid-column-total/10)/100);
  /*flex-basis: floor($max-mobile-width/floor($grid-column-total/10));*/
}
.ls-col-11 {
  width: percentage(100/($grid-column-total/11)/100);
  /*flex-basis: floor($max-mobile-width/floor($grid-column-total/11));*/
}
.ls-col-12 {
  width: percentage(100/($grid-column-total/12)/100);
  /*flex-basis: floor($max-mobile-width/floor($grid-column-total/12));*/
}
