$width: 960px;
$flex-basis: 200px;

.ls-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
[class*="ls-col-"] {
  flex-direction: column;
}
.ls-grid-item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 33.3333%;
  flex-basis: $flex-basis;
  display: flex;
}
.ls-col-1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: percentage(100/floor(12/1)/100);
  flex-basis: floor($width/floor(12/1));
}
.ls-col-2 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: percentage(100/floor(12/2)/100);
  flex-basis: floor($width/floor(12/2));
}
.ls-col-3 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: percentage(100/floor(12/3)/100);
  flex-basis: floor($width/floor(12/3));
}
.ls-col-4 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: percentage(100/floor(12/4)/100);
  flex-basis: floor($width/floor(12/4));
}
.ls-col-5 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: percentage(100/floor(12/5)/100);
  flex-basis: floor($width/floor(12/5));
}
.ls-col-6 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: percentage(100/floor(12/6)/100);
  flex-basis: floor($width/floor(12/6));
}
.ls-col-7 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: percentage(100/floor(12/7)/100);
  flex-basis: floor($width/floor(12/7));
}
.ls-col-8 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: percentage(100/floor(12/8)/100);
  flex-basis: floor($width/floor(12/8));
}
.ls-col-9 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: percentage(100/floor(12/9)/100);
  flex-basis: floor($width/floor(12/9));
}
.ls-col-10 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: percentage(100/floor(12/10)/100);
  flex-basis: floor($width/floor(12/10));
}
.ls-col-11 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: percentage(100/floor(12/11)/100);
  flex-basis: floor($width/floor(12/11));
}
.ls-col-12 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: percentage(100/floor(12/12)/100);
  flex-basis: floor($width/floor(12/12));
}
