.ls-layout {
  display: flex;
  flex-wrap: wrap;
}
.ls-text-left {
  text-align: left;
}
.ls-text-right {
  text-align: right;
}
.ls-text-center {
  text-align: center;
}
.ls-fixed {
  position: fixed;
}
.ls-align-center {
  align-items: center;
  justify-content: space-around;
}
.ls-content-space-around {
  justify-content: space-around;
}
